# dependencies
node_modules/
frontend/node_modules/
backend/node_modules/
.npm-cache/
.config/
.firebase/
frontend/build/

# env/config
.env
frontend/.env
backend/.env

# firebase config (contains keys)
frontend/src/firebase.ts
